[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HIViz"]
	path = HIViz
	url = https://github.com/atefehrashidi/hiviz
[submodule "rencher"]
	path = rencher
	url = https://github.com/atefehrashidi/rencher
